div.service-level {
    width: 400px;
    padding: 0px 20px;
    border-block-end: 1px solid rgb(5, 5, 5, 0.06);
}

.service-level .info {
    float: left;
}

.service-level .price {
    float: right;
    margin-top: 10px;
    height: 100%;
}

.service-level .price strong {
    font-size: 1.1rem;
}

.service-level .clear {
    clear: both;
}

.buy-modal div.service-level {
    width: unset;
    padding-top: 15px;
}

.buy-modal .service-level .price {
    margin-top: unset;
    /* height: 100%; */
}